:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  outline: 2px solid tomato;
}
img {
  outline: 2px solid orange;
}
.list {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
.header {
  outline: 2px solid tomato;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* сделать 15px правый и левый падинг */
  outline: 2px solid black;

  /* background-color: tomato; */
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  outline: 2px solid green;
}

.accent {
  color: var(--accent-color);
}

/* Site nav */
.site-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: 2px solid green;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.nav-contacts a {
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: 2px solid green;
}

.nav-contacts a:hover,
.nav-contacts a:focus {
  color: var(--accent-color);
}

.section-title {
  /* display: inline-block; */
  margin-top: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  outline: 2px solid green;
}
/* Футер */
.footer {
  background-color: #2f303a;
  font-size: 14px;
  letter-spacing: 0.03em;
  outline: 2px solid tomato;
}
.footer .logo {
  color: var(--primary-bg-color);
}

.address .street {
  color: var(--primary-bg-color);
  font-style: normal;
  line-height: 1.71;
  outline: 2px solid green;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  outline: 2px solid green;
}
.footer-subtitle {
  color: var(--primary-bg-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  outline: 2px solid green;
}

.footer .button {
  padding: 10px 62px 10px 29px;
}

.button {
  display: inline-block;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  outline: 2px solid green;
}
